.season-game {
  .save-button {
    height: 40px;
    position: relative;
    bottom: 90px;
    margin-inline: 8px;
    align-self: flex-end;
    min-width: 100px;
  }

  .description {
    min-height: 1000px;
  }
}