.selected-players h2.header:not(:first-child){
    border-left:1px solid #eaeaea;
}

.card:hover {
    opacity:1 !important;
}

.selected-players .ui.avatar.image {
    height: 1.4em !important;
}