body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #FAFAFB !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.basic.button, .ui.basic.buttons .button {
  background-color: white !important;
}

ul li.arrow:before {
  content: "\00BB";
  padding-right:5px;
  top: -2px;
  position: relative;
}

.flip-horizontal, .x-grid-cell-inner, .x-column-header-text, .x-panel-header-text {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.x-column-header-text, .x-panel-header-text {
  display: inline-block;
}